@font-face {
  font-family: 'Pacifico';
  src:
    url('assets/fonts/Pacifico/Pacifico-Regular.woff2') format('woff2'),
    url('assets/fonts/Pacifico/Pacifico-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
