@use './global.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.text-center {
  text-align: center;
}

.mt-1-rem {
  margin-top: 1rem;
}

.mb-1-rem {
  margin-bottom: 1rem;
}

.p-1-rem {
  padding: 1rem;
}
